<div class="top-menu">
  <a class="return" href='/#articole'>
    <mat-icon>arrow_back_ios</mat-icon>
    <p class="return__text">Înapoi</p>
  </a>
  <div class="right-side">
    <button mat-icon-button class="change-theme-btn" (click)="onChangeTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <div class="user">
      <img [src]="user.photoURL" *ngIf="user" class="user__photo">
      <mat-icon (click)="onLogout()" *ngIf="user">logout</mat-icon>
      <img (click)="onLogin()" src="https://play-lh.googleusercontent.com/aFWiT2lTa9CYBpyPjfgfNHd0r5puwKRGj2rHpdPTNrz2N9LXgN_MbLjePd1OTc0E8Rl1" *ngIf="!user" class="user__auth">
    </div>
  </div>
</div>
<div class="article" [style.display]="loading ? 'none' : 'block'">
  <div class="tag default-color">#{{ article.tag }}</div>
  <div class="article__title">{{ article.title }}</div>
  <div class="article__subtitle" *ngIf="article.subtitle">{{ article.subtitle }}</div>
  <img class="article__image" [src]="article.imageUrl"/>
  <div class="article__text" [innerHTML]="article.text"></div>
</div>
<div class="article loading" [style.display]="loading ? 'flex' : 'none'">
  <div class="loading__tag"> </div>
  <div class="loading__title"></div>
  <div class="loading__subtitle"></div>
  <div class="loading__image"></div>
  <div class="loading__text">
    <div class="loading__line" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]" [style.width.%]="97 + (i % 8) * (i % 2 ? -1 : 1) * 0.5" [style.margin-left.%]="(i % 5 ? 0 : 2)"></div>
  </div>
</div>
<div class="article-actions default-color">
    <button mat-raised-button color="warn" (click)="onLikeArticle()">
        <mat-icon>favorite{{ article.liked ? '' : '_border'}}</mat-icon>
        <span class="likes-count">{{article.likesCount}}</span>
    </button>
    <button mat-icon-button class="share-button" (click)="share = !share"><mat-icon>share</mat-icon></button>
      <div class="socials" *ngIf="share">
        <button mat-mini-fab (click)="onShare($event, 'http://www.facebook.com/sharer.php?u=')" class="facebook hoverable">
          f
        </button>
        <button mat-mini-fab (click)="onShare($event, 'http://twitter.com/intent/tweet/?url=')" class="twitter hoverable">
          
        </button>
        <button mat-mini-fab (click)="onShare($event, 'viber://forward?text=')" class="viber hoverable">
          <img class="viber__image" src="https://icon-library.com/images/viber-icon-png/viber-icon-png-11.jpg">
        </button>
      </div>
</div>
<div class="article-aditional">
    <app-comments [articleId]="article.id"></app-comments>
    <app-article-list-column [articleId]="article.id"></app-article-list-column>
</div>