<div class="menu">
    <button mat-stroked-button (click)="format('bold')"><mat-icon>format_bold</mat-icon></button>
    <button mat-stroked-button (click)="format('italic')"><mat-icon>format_italic</mat-icon></button>
    <button mat-stroked-button (click)="format('underline')"><mat-icon>format_underline</mat-icon></button>
    <button mat-stroked-button (click)="format('strikethrough')"><mat-icon>format_strikethrough</mat-icon></button>
    <button mat-stroked-button (click)="format('insertUnorderedList')"><mat-icon>format_list_bulleted</mat-icon></button>
    <button mat-stroked-button (click)="format('insertOrderedList')"><mat-icon>format_list_numbered</mat-icon></button>
    <button mat-stroked-button (click)="format('justifyLeft')"><mat-icon>format_align_left</mat-icon></button>
    <button mat-stroked-button (click)="format('justifyCenter')"><mat-icon>format_align_center</mat-icon></button>
    <button mat-stroked-button (click)="format('justifyRight')"><mat-icon>format_align_right</mat-icon></button>
    <button mat-stroked-button (click)="format('undo')"><mat-icon>undo</mat-icon></button>
    <button mat-stroked-button (click)="format('redo')"><mat-icon>redo</mat-icon></button>
    <button mat-stroked-button (click)="format('removeFormat')"><mat-icon>format_clear</mat-icon></button>
    <button mat-stroked-button (click)="onChangeCode()">
        <mat-icon>{{ code? 'text_fields' : 'code' }}</mat-icon>
    </button>
</div>
<div contenteditable [innerHTML]="content" id="text-editor" name="text-editor" class="text-editor" #textEditor (input)="text = textEditor.innerHTML; textChange.emit(textEditor.innerHTML);" *ngIf="!code">
</div>
<mat-form-field appearance="outline" *ngIf="code" class="code-editor" (input)="content = text; textChange.emit(textEditor.innerHTML);">
    <textarea matInput [(ngModel)]="text"></textarea>
</mat-form-field>