<div class="information-wrapper">
  <span class="title">Cum s-a construit ieri, viitorul de azi</span>
  <div class="storyline">
    <div class="block">
      <div class="block__title">Anii 1930 au marcat începutul mașinilor de calculat</div>
      <p class="block__text">
        Konrad Zuse a creat ceea ce a devenit cunoscut drept primul computer programabil, Z1, în 1936 în camera de zi a părinților săi din Berlin. El a asamblat plăci metalice, știfturi și o folie veche, creând o mașină care putea să adună și să scadă cu ușurință. Deși primele sale modele au fost distruse în al Doilea Război Mondial, Zuse este considerat creatorul primului computer digital.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d7807866f24eb024703b183?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">În anii 1940, computerele ocupau încăperi întregi, precum ENIAC</div>
      <p class="block__text">
        John Mauchly a creat ENIAC în timpul celui de-al Doilea Război Mondial pentru a ajuta armata cu analize balistice. Aparatul putea calcula mii de probleme în fiecare secundă. ENIAC-ul la scară largă cântărea 30 de tone și avea nevoie de o cameră de 1.500 de metri pătrați pentru a găzdui cele 40 de dulapuri, 6.000 de întrerupătoare și 18.000 de tuburi vidate care cuprind mașina.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d7805686f24eb04eb2323b3?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">În anii 1950, computerele erau folosite strict pentru cercetări științifice și de inginerie</div>
      <p class="block__text">
        JOHNNIAC a fost finalizat în 1954 și a fost folosit de cercetătorii RAND. Mașina masivă cântărea puțin peste două tone cu peste 5.000 de tuburi vidate. Acest computer timpuriu a funcționat timp de 13 ani sau 51.349 de ore înainte de a fi demontat.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d7806176f24eb5538467224?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">Era Internetului</div>
      <p class="block__text">
        Internetul a început în anii 1960 ca o modalitate prin care cercetătorii guvernamentali pot distribui informație. Calculatoarele în anii '60 erau mari și imobile și pentru a folosi informațiile stocate în orice computer, trebuia fie să călătorească la locul computerului, fie să trimită benzi magnetice de computer prin sistemul poștal convențional. 
      </p>
    </div>
    <img class="image-block" src="https://i.imgur.com/Hb6TGnE.gif">
    <div class="block">
      <div class="block__title">Pe măsură ce computerele personale au devenit populare în anii 1970, Xerox Alto a ajutat la deschiderea drumului pentru Apple a lui Steve Jobs.</div>
      <p class="block__text">
        Xerox Alto a fost creat în anii '70 ca un computer personal care putea tipări documente și trimite e-mailuri. Ceea ce a fost cel mai notabil la computer a fost designul său, care includea un mouse, tastatură și ecran. Acest design de ultimă generație avea să influențeze ulterior modelele Apple în următorul deceniu.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d77cda76f24eb48d1565775?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">În anii '80, Macintosh-ul Apple a fost descris ca un schimbător de jocuri pentru industria computerelor</div>
      <p class="block__text">
        Când Steve Jobs a introdus primul computer Macintosh în 1984, Consumer Reports l-a numit „o afișare uluitoare de vrăjitorie tehnică”. La fel ca Xerox Alto, Macintosh avea o tastatură, un mouse și un ecran mic de 9 inchi. Computerul - care cântărea 22 de lire sterline și costa 2.495 de dolari - a fost aplaudat pentru interfața sa de ferestre și pictograme.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d77cedd6f24eb491118e643?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">Pe măsură ce anii '90 au marcat o perioadă de auto-exprimare, Apple a lansat faimosul iMac G3, care era personalizabil</div>
      <p class="block__text">
        iMac G3 a fost lansat în 1998, după revenirea lui Steve Jobs la Apple în 1997. Computerul a devenit rapid cunoscut pentru carcasa sa transparentă, albastră Bondi. IMac-ul de 38 de lire sterline includea porturi USB, o tastatură și un mouse. A fost menit să fie portabil și personalizabil.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d77f5436f24eb3e844a79f3?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">La începutul anilor 2000, laptopurile au devenit din ce în ce mai populare, mai ales după ce Apple și-a lansat MacBook Air.</div>
      <p class="block__text">
        În 2008, Steve Jobs a scos primul MacBook Air dintr-un plic manila și a șocat publicul de la Macworld de la Apple cu cât de subțire era laptopul. Având o grosime de numai 0,76 inchi, laptopul proiectat cu experiență a schimbat industria pentru totdeauna. Apple a eliminat unitatea CD și a inclus doar un port USB și o port pentru căști. La acea vreme, dispozitivul minimalist costa 1.799 USD.
      </p>
    </div>
    <img class="image-block" src="https://i.insider.com/5d77fa906f24eb3fc4313663?width=800&format=jpeg&auto=webp">
    <div class="block">
      <div class="block__title">Supremația cuantică</div>
      <p class="block__text">
        Există discuții interesante despre calculul cuantic, mai ales după articolul recent de la Google în Nature despre computerul său cuantic de 53 de qubiți care oferă „supremația cuantică”. Definiția supremației cuantice, așa cum a propus-o John Preskill în 2012, a fost de a descrie punctul în care computerele cuantice pot calcula ceva ce computerele clasice nu pot într-o perioadă rezonabilă de timp. 
      </p>
    </div>
    <img class="image-block" src="https://scx2.b-cdn.net/gfx/news/hires/2020/googleconduc.jpg">
  </div>
</div>
